<!DOCTYPE html>
<html>
<head>
    <title>LendIt</title>
    <style>
        header {
            background-color: rgb(42, 53, 45);
            height: 120px;
            text-justify: center;
        }

        h1 {
            color: rgb(255, 211, 235);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 72px;
        }

        body, * {
            margin: 0;
        }
    </style>
</head>
<body>
    <header>
        <h1>Lendit</h1>
    </header>
    <section1></section1>
    <section2></section2>
    <section3>
        <!--request near you section-->
        <div class='requests-near-you-container'>
            <h2>Requests near you</h2>
            <div>
                <div>
                    <img src"https://www.placecats.com/200/200">
                    <p>Jasheen</p>
                </div>
                <div
                    <img src"https://www.placecats.com/200/200">
                    <img src"https://www.placecats.com/200/200">
                    <img src"https://www.placecats.com/200/200">
                </div>
                
            </div>
        </div>
    </section3>
    <footer></footer>
</body>
</html>