<!DOCTYPE html>
<html>
<link rel="stylesheet" href="style.css">
<head>
    <title>LendIt</title>
    <nav>
        <li><a href="/">Home</a>
        <li><a href="/services">Services</a>
        <li><a href="/about">About</a>
        <li><a href="/contact">Contact</a>
    </nav>
</head>
    <body>
        <header>
            <h1>Lendit</h1>
        </header>
        <section1>
            <!--Search bar-->
        </section1>
        <section2>
            <!--Listings near you-->
            <h2>Listings near you</h2>
        </section2>
        <section3>
            <!--request near you section-->
            <div class='requests-near-you-container'>
                <h2>Requests near you</h2>
                <div>
                    <div>
                        <img src"https://www.placecats.com/200/200">
                        <p>Jasheen</p>
                    </div>
                    <div>
                        <img src"https://www.placecats.com/200/200">
                        <img src"https://www.placecats.com/200/200">
                        <img src"https://www.placecats.com/200/200">
                    </div>
                    <div>
                        <img src"https://www.placecats.com/200/200">
                        <p>Zoe</p>
                    </div>
                    <div>
                        <img src"https://www.placecats.com/200/200">
                    </div>
                    <div>
                        <img src"https://www.placecats.com/200/200">
                        <p>Peone</p>
                    </div>
                    <div>
                        <img src"https://www.placecats.com/200/200">
                        <img src"https://www.placecats.com/200/200">
                    </div>
                </div>
            </div>
        </section3>
        <footer>
            <title>LendIt</title>
        </footer>
    </body>
</html>